<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Login">
    <test verbose="2" preserve-order="true" name="C:/Users/sumit/Desktop/Automation/GITHUB/skorkel/SeleniumSkorkel">
        <classes>
            <class name="LoginTestCases"/>

        </classes>
    </test>
</suite>